# Environment / Secrets
.env
*.env.local

# Container configuration data (databases, local caches)
config/*/**
!config/homepage/
!config/homepage/**
config/homepage/logs/
!config/caddy/Caddyfile
!config/caddy/Dockerfile
data/

# Logs
*.log
logs/
